@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}
	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

.about-bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	overflow: hidden;
}
.about-bg li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 21s linear infinite;
}

.about-bg li:nth-child(0) {
	left: 20%;
	width: 232px;
	height: 232px;
	bottom: -232px;
	animation-delay: 1s;
}
.about-bg li:nth-child(1) {
	left: 56%;
	width: 179px;
	height: 179px;
	bottom: -179px;
	animation-delay: 1s;
}
.about-bg li:nth-child(2) {
	left: 18%;
	width: 265px;
	height: 265px;
	bottom: -265px;
	animation-delay: 8s;
}
.about-bg li:nth-child(3) {
	left: 77%;
	width: 193px;
	height: 193px;
	bottom: -193px;
	animation-delay: 7s;
}
.about-bg li:nth-child(4) {
	left: 77%;
	width: 245px;
	height: 245px;
	bottom: -245px;
	animation-delay: 16s;
}
.about-bg li:nth-child(5) {
	left: 38%;
	width: 117px;
	height: 117px;
	bottom: -117px;
	animation-delay: 20s;
}
