.post-wrapper {
	position: relative;
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
}

.post-wrapper ul {
	list-style: circle;
	padding: 0;
	max-width: 340px;
}

.post-wrapper ul li {
	padding: 4px 0;
}

.post-wrapper .post {
	min-height: 300vh;
	position: relative;
}

.post-wrapper .post-header {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	top: 100px;
	bottom: 0;
	z-index: 5;
	position: sticky;
}

.post-wrapper .post-header .author {
	padding: 4px 12px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8px);
}

.post-wrapper .post-header .author img {
	object-fit: cover;
	border-radius: 100%;
}

.post-wrapper .post-header h1 {
	background: rgba(6, 6, 6, 0.78);
	backdrop-filter: blur(8px);
	text-align: center;
	padding: 2rem 48px;
	font-size: clamp(1.3rem, 5vw, 3.23rem);
}

.post-header .time {
	display: flex;
	flex-flow: row;
	background: var(--gray);
	align-items: center;
	padding: 4px 12px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.post-header .time svg path {
	fill: var(--white);
}

.post-content {
	padding-inline: 24px;
	min-height: 100vh;
	position: sticky;
	bottom: 0;
	top: 100px;
}

.post-content .text-wrapper {
	max-width: var(--screen-md);
	display: flex;
	flex-flow: row wrap;
	gap: 48px;
	align-items: center;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	margin-inline: auto;
	padding-bottom: 24px;
}

.post-content .text-wrapper.last {
	padding-top: 200px;
}

.post-content .text-wrapper h2 {
	font-size: clamp(1.3rem, 5vw, 2.4rem);
}

.post-content .title {
	display: flex;
	flex-flow: column;
}

.post-content .text-wrapper svg {
	fill: var(--lightblue);
}

.post-content .text-wrapper img {
	max-width: 100%;
	min-width: 150px;
	border-radius: 100%;
}
