.post-wrapper {
	position: relative;
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
}

.post-wrapper .top-line {
	position: fixed;
	top: auto;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(12px);
	color: var(--light);
	font-size: clamp(0.8rem, 5vw, 1rem);
	z-index: 500;
	padding: 6px 48px;
	gap: 24px;
	align-items: center;
	justify-content: space-between;
}

.top-line .post-info {
	display: flex;
	flex-flow: row wrap;
	gap: 8px;
}

.top-line .time,
.top-line .calories,
.top-line .cuisine {
	display: flex;
	flex-flow: row;
	align-items: center;
	border-radius: 24px;
	padding-inline: 12px;
	gap: 4px;
}

.top-line .time {
	background: var(--green);
}

.top-line .time svg path {
	fill: var(--white);
}

.top-line .calories {
	background: var(--red);
}

.top-line .cuisine {
	background: var(--primary);
}

.top-line .back {
	font-weight: bold;
	position: relative;
	transition: .3s ease-in-out;
}

.top-line .back:hover {
	cursor: pointer;
	color: var(--orange);
	text-decoration: underline;
}

.post-wrapper ul {
	list-style: circle;
	padding: 0;
	max-width: 340px;
}

.post-wrapper ul li {
	padding: 4px 0;
}

.post-wrapper .post {
	position: relative;
}

.post-wrapper .post-header {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	top: 100px;
	bottom: 0;
	z-index: 5;
	position: sticky;
}

.post-wrapper .post-header .header-title {
	background: rgba(6, 6, 6, 0.78);
	backdrop-filter: blur(8px);
	text-align: center;
	padding: 2rem 48px;
	font-size: clamp(1.3rem, 5vw, 3.23rem);
	display: flex;
	flex-flow: column;
	border-radius: 4px;
}

.post-wrapper .post-header .header-title h1 {
	padding-bottom: 12px;
}

.post-wrapper .post-header .header-title .author {
	font-size: clamp(0.68rem, 5vw, 0.9rem);
}

.post-content {
	padding-inline: 24px;
	min-height: 100vh;
	position: sticky;
	bottom: 0;
	top: 100px;
}

.post-content .text-wrapper {
	max-width: var(--screen-md);
	display: flex;
	flex-flow: row wrap;
	gap: 48px;
	align-items: center;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	margin-inline: auto;
	padding-bottom: 24px;
}

.post-content .text-wrapper.last {
	padding-top: 200px;
	position: relative;
}

.post-content .text-wrapper.last .up {
	position: absolute;
	bottom: 20px;
	color: var(--white);
}

.post-content .text-wrapper h2 {
	font-size: clamp(1.3rem, 5vw, 2.4rem);
}

.post-content .title {
	display: flex;
	flex-flow: column;
}

.post-content .text-wrapper svg {
	fill: var(--lightblue);
}

.post-content .text-wrapper img {
	max-width: 100%;
	min-width: 150px;
	border-radius: 100%;
}
