{% extends "layout.html" %} {% block main %}
<ul class="about-bg">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<div class="content px">
	<h1>About Page</h1>

	<h3>History API</h3>
	<p>
		In this tutorial, you'll learn how to use the history API in your web app.
		To use the history API in practice, you need to follow some basic steps.
	</p>
	<dl>
		<dt>Step 1</dt>
		<dd>
			First, you need to design your web app's content area and URL structure in
			a way that reflects the different states of your web app.
		</dd>
		<dt>Step 2</dt>
		<dd>
			Second, you need to use the history.pushState() and history.replaceState()
			methods to create and update history entries when the user interacts with
			your web app.
		</dd>
		<dt>Step 3</dt>
		<dd>
			Third, you need to use the popstate event to handle the user's navigation
			through the history stack and update your web app's content area
			accordingly.
		</dd>
		<dt>Step 4</dt>
		<dd>
			Fourth, you need to provide meaningful titles and metadata for each
			history entry to improve the bookmarking and SEO of your web app.
		</dd>
	</dl>
</div>

{% endblock %}
