<div class="content">
	<div class="hero">
		<div class="heroText">
			<h1>Welcome to Flask App!</h1>
			<p>
				This is the full stack app written in <br /><i
					class="fa-brands fa-python"
					style="color: #1469c5"
				></i>
				<i class="fa-solid fa-pepper-hot" style="color: rgb(5, 197, 197)"></i>
				<i class="fa-brands fa-html5" style="color: orangered"></i>
				<i class="fa-brands fa-css3-alt" style="color: rgb(27, 27, 255)"></i>
				and
				<i class="fa-brands fa-js" style="color: rgb(255, 217, 0)"></i>.
			</p>
			<button>Get Started</button>
		</div>
		<div class="picture_wrapper" transition-style="in:circle:center">
			<img
				src="{{ url_for('static', filename='pizza.png') }}"
				srcset="{{ url_for('static', filename='pizza.png')}}, {{ url_for('static', filename='pizza2x.webp')}} 1.5x"
				alt="Flask"
				width="450"
				height="450"
			/>
		</div>
		
	</div>
</div>
