<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<link rel="icon" href="{{ url_for('static', filename='bear.png') }}" />
		<link rel="stylesheet" href="https://unpkg.com/transition-style" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css"
			crossorigin
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/solid.min.css"
			crossorigin
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/regular.min.css"
			crossorigin
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css"
			crossorigin
		/>

		<title>{% block title %}{{title}}{% endblock %}</title>
	</head>
	<body>
		<div class="wrapper">
			{% include 'mobileNav.html' %} {% include 'header.html' %}
			<main>
				<div class="content">
					{% if name == '' %}
					<div class="hero">
						<div class="heroText">
							<h1>Welcome to Flask App!</h1>
							<p>
								This is the full stack app written in <br /><i
									class="fa-brands fa-python"
									style="color: #1469c5"
								></i>
								<i
									class="fa-solid fa-pepper-hot"
									style="color: rgb(5, 197, 197)"
								></i>
								<i class="fa-brands fa-html5" style="color: orangered"></i>
								<i
									class="fa-brands fa-css3-alt"
									style="color: rgb(27, 27, 255)"
								></i>
								and
								<i class="fa-brands fa-js" style="color: rgb(255, 217, 0)"></i>.
							</p>
							<button>Get Started</button>
						</div>
						<img
							src="{{ url_for('static', filename='computer.png') }}"
							alt="Flask"
							transition-style="in:circle:center"
							loading="lazy"
						/>
					</div>

					{% else %} {% block main %} {% endblock %} {% endif %}
				</div>
			</main>

			{% include 'footer.html' %}
		</div>
		<script
			type="module"
			src="{{ url_for('static', filename='scripts/main.js') }}"
		></script>
	</body>
</html>
